<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Yelp Camp</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/campgrounds">Campgrounds</a></li>
                </ul>

                <ul class="navbar-nav justify-content-end mx-4">
                    <% if (!currentUser) { %>
                    <li class="nav-item mx-2"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item mx-2"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                    <li class="nav-item mx-2 nav-link active">Signed In As <%= currentUser.username %> </li>
                    <li class="nav-item mx-2"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if (error && error.length > 0) { %>
        <div class="alert alert-danger text-center" role="alert"><%= error %></div>
        <% } else if (success && success.length > 0) { %>
        <div class="alert alert-success text-center" role="alert"><%= success %></div>
        <% } else if (warning && warning.length > 0) { %>
        <div class="alert alert-warning text-center" role="alert"><%= warning %></div>
        <% } %>

    </div>